*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding: 0 80px;
  background-color: #1f1f1f;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
ul {
    gap: 50px;
    font-size: 20px;
    display: flex;
}
button{
    border-radius: 50px;
    width: 15vw;
    height: 3vh;
   background-color: #7FA653;
}


main {
  display: flex;
  align-items: center;    
  justify-content: space-between; 
  width: 100vw;
  height: 80vh;
  padding: 0 80px;
  flex-direction: row-reverse;
  gap: 400px;
  background: linear-gradient(90deg, #6a6e73 70%, white 30%);
}

.perfil{
 display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center; 
  text-align: center;
  gap: 30px;               
  height: 100%;
}
.perfil h2 {
  font-size: 24px;
  font-weight: 400;
  color: #d1d1d1;
  margin-top: -10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  
  opacity: 0;
  transform: translateY(15px);
  animation: aparecerSuave 1.3s ease forwards;
  animation-delay: 1.2s; 
}


.perfil h2:hover {
  color: white;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  transform: scale(1.03);
}


.redes {
 display: flex;
  flex-direction: row;   
  align-items: center;
  justify-content: center;
  gap: 30px;   
}


 h1 {
    font-size: 45px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
 }

#instagram {
 
  width: 170px;
  height: 170px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

#facebook {
     width: 120px;
  height: 120px;
  transition: transform 0.3s ease, filter 0.3s ease;
}




#img-eu {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 8px solid white;
  background-color: #6a6e73;
  box-shadow: 0 0 20px white;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: 300px; 
  padding: 5px;
}


footer{
  width: 100vw;
  height: 12vh;
  background-color: #111; 
  color: #d1d1d1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.5px;
}
@keyframes aparecerSuave {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}